body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: blue;
}

input {
    width: 250px;
    padding: 12px;
    margin: 5px;
    font-size: 18px;
    border-radius: 8px;
    border: 1px solid gray;
}

button {
    padding: 12px 20px;
    margin: 5px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: black;
    color: white;
}

#result {
    color: green;
    margin-top: 20px;
}
.calculator {
    width:300px;
    margin:50px auto;
    padding:20px;
    background:white;
    border-radius:15px;
}
