body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    text-align: center;
}

.profile {
    width: 80%;
    max-width: 600px;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius: 20px;
}

h1 {
    color: blue;
    font-size: 35px;
}

h2 {
    color: #333;
}

input {
    width: 250px;
    padding: 12px;
    margin: 8px;
    border-radius: 8px;
    border: 1px solid gray;
    font-size: 16px;
}

button {
    padding: 12px 18px;
    margin: 5px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background-color: black;
    color: white;
}

#result {
    color: green;
    margin-top: 20px;
}
